
@font-face {
  font-family: 'Htvwmgfpgihzxzvagbxpkykgkse';
  src: url('Htvwmgfpgihzxzvagbxpkykgkse.eot?#iefix') format('embedded-opentype'),  url('Htvwmgfpgihzxzvagbxpkykgkse.woff') format('woff'), url('Htvwmgfpgihzxzvagbxpkykgkse.ttf')  format('truetype'), url('Htvwmgfpgihzxzvagbxpkykgkse.svg#Htvwmgfpgihzxzvagbxpkykgkse') format('svg');
  font-weight: normal;
  font-style: normal;
}
