
@font-face {
  font-family: 'Ydduhxjtpqbghizzlldzrtgxyud';
  src: url('Ydduhxjtpqbghizzlldzrtgxyud.eot?#iefix') format('embedded-opentype'),  url('Ydduhxjtpqbghizzlldzrtgxyud.woff') format('woff'), url('Ydduhxjtpqbghizzlldzrtgxyud.ttf')  format('truetype'), url('Ydduhxjtpqbghizzlldzrtgxyud.svg#Ydduhxjtpqbghizzlldzrtgxyud') format('svg');
  font-weight: normal;
  font-style: normal;
}
