
@font-face {
  font-family: 'Zzjveoyukwhunwdtktexauzwhhj';
  src: url('Zzjveoyukwhunwdtktexauzwhhj.eot?#iefix') format('embedded-opentype'),  url('Zzjveoyukwhunwdtktexauzwhhj.woff') format('woff'), url('Zzjveoyukwhunwdtktexauzwhhj.ttf')  format('truetype'), url('Zzjveoyukwhunwdtktexauzwhhj.svg#Zzjveoyukwhunwdtktexauzwhhj') format('svg');
  font-weight: normal;
  font-style: normal;
}
